
nav{
	
}

#taskList {
	width: 30%;
	margin: 0 1.5% 24px 1.5%;
	position: fixed;
	bottom: 0;
	right: 0;
	background-color: #eeeeee;
	border-style: solid;
	border-color: #111111;
	border-width: 2px;
	padding-left: 20px;
	font-weight: bold;
	max-height: 120px;
	overflow:scroll;
    overflow-x:hidden;
}

div.inLine{
	background-color: 	#222277;
	font-weight: 		bold;
	font-size: 			20;
	float: 				left;
	padding-top:		5px;
	margin-left: 		20px;
	padding-left: 		50px;
	padding-right: 		50px;
	position: relative;
	-moz-border-radius-bottomright: 2em;
	-moz-border-radius-bottomleft: 2em;
}
div.inLine:hover{
	background-color: #333388;
	cursor: hand;
}

.clearBoth {
	clear.both;
}

h1:hover h4:hover{
	color: #c22;
	transition-property: color;
	transition-duration: 5s;
}



#moveable:hover{
	transform:rotate(2deg);
}

#skjeVid {
	width: 80%;
}

#formID {
	border: 2px;
	border-style: solid;
	border-color: a3a3c3;
}

#source-container{
	height: 300px;
	width: 45%;
	border: solid 5px #222;
	float: left;
}
#target-container {
	height: 300px;
	width: 45%;
	border: solid 5px #222;
	float: right;
}
#moveable{
	height: 200px;
}

input{
  border: solid 1px #888;
  margin:2px;
}
input:required
{
  border-color: #f00;
}
input:invalid {
  border-color: #f00;
}
input:valid {
  border-color: #aaa;
}

/*header, */
section,
aside,
footer {
	margin: 0 1.5% 24px 1.5%;
	
}
header{
	font-family: helvetica;
	color: fafaff;
	padding: 10px;
	margin-bottom:30px;
	background-color: #000033;
}
body {
	font-family:"Helvetica", serif;
	background-color: #000033;
}

#main {
	background-color: fafaff;
}

section {
	float: center-left;
	width: 63%;
}
aside {
	float: right;
	width: 30%;
}
footer {
	clear: both;
	padding: 5px;
	border: 3px;
	border-style: solid;
	border-color: 444455;
	
}

